#container{
	width: 1140px;
	
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;
    position: fixed;
    top: 0px;
    right: 0px;
}

img{
    width: 100px;
    height: 100px;
}

.blog-post{
    position: relative;
}

.date{
    position: absolute;
    right: 50px;
    top: 0px;
}